/*common.css*/
html {font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Pingfang SC","Microsoft Yahei","WenQuanYi Micro Hei";-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;background-color: #eee;}
body { margin: 0; font-size:16px; color: #000; height: 100%; overflow-x: hidden; -webkit-overflow-scrolling: touch;background-color: #fff; }
/* html,body{overflow:hidden;overflow-y:auto;} */
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary { display: block; }
a { background: transparent; text-decoration: none; color: #000; }
a:active { outline: 0; }
b, strong { font-weight: bold; }
dfn { font-style:normal;}
img { border: 0; vertical-align: middle; }
.clear{clear:both;visibility:hidden; display: block; font-size:0; line-height:0;}
.clearfix:after {visibility:hidden; display:block; font-size:0; content: " "; clear:both; height:0;}
.clearfix{*zoom:1;}
*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;max-height:100000px;/*解决X5新内核Blink中主字体放大*/}
input{  
   background:none;  
   outline:none;  
   border:0px;  
}  
 i {font-style: normal;}
input[type="submit"],input[type="button"]{
-webkit-appearance: none;}
* {
-webkit-tap-highlight-color: rgba(0,0,0,0);
-webkit-tap-highlight-color: transparent; /* For some Androids */
outline: none;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ccc; opacity:1; 
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ccc;opacity:1;
}

input:-ms-input-placeholder{
    color: #ccc;opacity:1;
}

input::-webkit-input-placeholder{
    color: #ccc;opacity:1;
}
textarea { resize: none;}
table { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
h1, h2, h3, h4, h5, h6, p, figure, form, blockquote { margin: 0; }
ul, ol, li, dl, dd { margin: 0; padding: 0; }
ul, ol { list-style: none; }


/*visa.css*/
.visa_top{height:2.5rem;}
.visa_top>img{height:2.5rem;width:100%;}
.visa_recommendTitle{background-color: #fff;border-top: 0.22rem solid #eee;color:#666;font-size: 0.3rem;line-height: 0.88rem;padding-left: 0.3rem;border-bottom: 1px solid #eee;}
.visa_recommendImg{float:left;width:100%; border-bottom: 0.22rem solid #eee;margin-top: 0.36rem;padding-bottom: 0.36rem; }
.visa_recommendLeft{float: left;margin-left: 0.3rem;margin-right: 0.18rem;width:35%;}
.visa_recommendRight{float: left;width:55%;}
.visa_recommendLeft>a{float: left;}
.visa_recommendLeft>a>img{height:128px;width:100%;}
.visa_recommendImg>p{float: left;}
.visa_recommendRight>div>a{float: left;}
.visa_recommendRight>div>a>img{height:60px;width:100%;}
.visa_recommendRightTop{margin-bottom:8px;float: left;}
.visa_fast{background-color: #fff}
.visa_fastTitle{clear:both; color:#666;font-size: 0.3rem;height:0.88rem;line-height: 0.88rem;padding-left: 0.3rem;border-bottom: 1px solid #eee;}
.visa_fastInfo{float: left;width: 100%;}
.visa_fastInfo_logo{line-height: 1rem;float:left;}
.visa_fastInfo_logo>img{width:0.54rem;height:0.54rem;margin:0 0.3rem;margin-top: 15px;}
.visa_fastInfo>li{border-bottom: 1px solid #eee;background-color:#fff;float: left;position: relative;}
.visa_fastInfoLeft{border-right:1px solid #eee;width:50%; }
.visa_fastInfoLeft>a{width: 100%;display: -webkit-box; display: -moz-box;display: -webkit-flex; display: -moz-flex; display: -ms-flexbox;display: flex;height:1.86rem;}
.visa_fastInfo_text{width: 72%;}
.visa_fastInfo_text{   margin-bottom:0.29rem;margin-top:0.3rem;}
.visa_fastInfo_text>div{font-size: 0.3rem;color:#333;display: block;}
.visa_fastInfo_text>div>b{margin-left: 0.1rem; display:inline-block;  background: url(../resource/label_red.png)no-repeat;background-size:100% 100%;width: 0.54rem;height:0.28rem;}
.visa_fastInfo_text>span{margin-top: 0.06rem;font-size: 0.3rem;color: #333;margin-right: 0.1rem;}
.visa_bonus{position:absolute;left:1.14rem;bottom:0.19rem;font-size: 0.2rem;color:#ED4143;background-color:#FEEBEB; border-radius: 18px ;padding: 0.04rem 0.2rem;}
.visa_fastInfo_text>span{color:#999;font-size: 0.24rem;float: left;margin: 0.1rem 0;width:100%;}
.visa_fastInfoRight{border-right:1px solid #fff;width:50%; }
.visa_fastInfoRight>a{display: -webkit-box; display: -moz-box;display: -webkit-flex; display: -moz-flex; display: -ms-flexbox;display: flex;width: 100%;height:1.86rem;}